@model MoneyAccountsDetailsViewModel
@{
    Layout = "_PortalLayout";
    ViewData["Title"] = @Model.AccountName;
}

<link rel="stylesheet" href="~/css/MoneyAccountsDetailsView.css" asp-append-version="true" />

<div class="details-container">
    <div class="details-container__buttons">
        <button class="details-container__button details-container__button--edit">
            Edit Account
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="details-container__button details-container__button--delete">
            Delete Account
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>

    <div class="details-container__sumBalance details-container__statisticBox">
        <span>
            <i class="fa-solid fa-money-bill"></i>
            Current Balance
        </span>
        <span class="details-container__statistic color-green">
            @String.Format("{0:N}", Model.CurrentBalance) kr
        </span>
    </div>
    <div class="details-container__sumSpending details-container__statisticBox">
        <span>
            <i class="fa-solid fa-receipt"></i>
            Monthly Spending
        </span>
        <span class="details-container__statistic color-maroon">
            @String.Format("{0:N}", Model.MonthlySpending) kr
        </span>
    </div>
    <div class="details-container__sumDeposits details-container__statisticBox">
        <span>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Monthly Deposits
        </span>
        <span class="details-container__statistic color-green">
            @String.Format("{0:N}", Model.MonthlyDeposits) kr
        </span>
    </div>
    <div class="details-container__transactionsCount details-container__statisticBox">
        <span>
            <i class="fa-solid fa-right-left"></i>
            Monthly Transactions
        </span>
        <span class="details-container__statistic color-yellow">
            @Model.MonthlyTransactions
        </spa>
    </div>

    <div class="details-container__addTransactionForm">Add Transaction Form</div>
    <div class="details-container__transactionsTable">Transactions</div>
</div>